/.metadata/
/*/Drivers/
/*/Debug/
/*/.settings/
/*/Core/Startup/
/*/.cproject
/*/.gitignore
/*/.mxproject
/*/.project
/*/Basi_UART.ioc
/*/Basi_UART Debug.launch
/*/STM32F401RETX_FLASH.ld
/*/STM32F401RETX_RAM.ld
